/* DEFAULTS */

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-display: block;
    src: url(MontserratRegular-latin.woff2); // hint: the url has to be right from the the perspective of the stylesheet that imports this file
}

*,
*::before,
*::after {
    box-sizing: border-box; // generally a good idea :p
    margin: 0; // for <html> & <body>
    padding: 0; // for <html> & <body>
    border: none; // for <button>
    outline: none; // for <button> and other stuff
    background: none; // for <button>
    text-decoration: none; // for <a>
    color: inherit; // for <a>
    font: inherit; // for <button>, also effects <h1>
    -webkit-font-smoothing: antialiased; // i don't know if this even has an effect, but hey :D
    -moz-osx-font-smoothing: grayscale; // i don't know if this even has an effect, but hey :D
}


/* POPUP */

:root {
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: black;
    text-shadow: 0 0.75px 1.5px rgba(0, 0, 0, 0.25);
}

body {
    width: 220px; // to prevent collapse of popup window
    height: 220px;

    font: inherit; // override auto-injected stylesheet from chrome xD
    
    background-image: radial-gradient(#c0c0c0 1.5px, transparent 1.5px);
    background-position: 0 0;
    background-size: 20px 20px;
    
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    button {
        position: absolute;
        width: 64px;
        height: 64px;
        border-radius: 4px;
        background-color: white;
        background-image: url('icon.svg');
        background-position: center center;
        background-size: 40px 40px;
        background-repeat: no-repeat;
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.25);
        transition: transform 0.3s;

        &:hover {
            cursor: pointer;
            transform: scale(1.2);
        }

        &.check {
            background-image: url('check.svg');
        }

        &.cross {
            background-image: url('cross.svg');
        }
    }
}